@import "tailwindcss";
@plugin "daisyui" {
  exclude: properties;
}

.reactMarkdown {
  white-space: pre-wrap;
}

.reactMarkdown h1 {
  font-size: 1.5em;
}

.reactMarkdown h2 {
  font-size: 1.5em;
}

.reactMarkdown h3 {
  font-size: 1.5em;
}

.reactMarkdown ul {
  list-style-type: circle;
}

.reactMarkdown a {
  text-decoration: underline;
}
